# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Otros archivos temporales
*.cache
*.log
*.pdb
*.db
*.sourcelink.json
*.vsidx
*.db-shm
*.db-wal

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

# Rider (JetBrains)
.idea/

# Archivos del sistema
Thumbs.db
ehthumbs.db
.DS_Store